<% content_for :head do %>
  <%= stylesheet_link_tag 'pages/about' %>
  <%= javascript_include_tag 'static_pages/about' %>
<% end %>

<h3>What are we going to do this year?</h3>
<h3>Same thing we do every year...</h3>
<h1>Try and take over the world!</h1>

<img src="http://media.giphy.com/media/5K0PnrBJUjerS/giphy.gif" style='margin: 0 auto;display:block'>

<div class="team">
  
  <div class="row">
    
    <div class="col-md-4">
      <div class="team-member">
        
        <div class="team-avatar">
          <img class="team-member-img" src="http://cdn.toonvectors.com/images/2/19387/toonvectors-19387-140.jpg" alt="Ram">
        </div>
        
        <div class="team-member-title">
          <h4>Ram</h4>
          <p>Wonder "Not-A-Bum" Bro-colli</p>
        </div>        
        
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="team-member">
      
        <div class="team-avatar">
          <img class="team-member-img" src="http://www.funnypica.com/wp-content/uploads/2012/08/Funny-Fish-04-140x140.jpg" alt="Vishal">
        </div>
        
        <div class="team-member-title">
          <h4>Vishal</h4>
          <p><a href="https://en.wikipedia.org/wiki/Vishal_(name)#Meaning">The Unstoppable One</a></p>
        </div>
    
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="team-member">
      
        <div class="team-avatar">
          <img class="team-member-img" src="http://www.designlabevents.com/dle-cms/wp-content/uploads/2012/08/wonton-140x140.jpg" alt="Toan">
        </div>
        
        <div class="team-member-title">
          <h4>Toan</h4>
          <p>Wontoans 4 lyfe</p>
        </div>
    
      </div>
    </div>
    
  </div>
  
  <div class="row">
    
    <div class="col-md-4">
      <div class="team-member">
      
        <div class="team-avatar">
          <img class="team-member-img" src="http://www.tobintaylor.com/images/Logo_Square.jpg" alt="Josh">
        </div>
        
        <div class="team-member-title">
          <h4>Josh</h4>
          <p>"Likes It In The Back-End"</p>
        </div>
        
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="team-member">
      
        <div class="team-avatar">
          <img class="team-member-img" src="http://main-im-game-1.gamewise.co/Little-Pony-Unicorn-Friends-A-Tiny-Magic-Story-In-a-Magical-Horse-Fairyland-212765-large.png" alt="???">
        </div>
        
        <div class="team-member-title">
          <h4>Ms. ???</h4>
          <p>The rare unicorn</p>
        </div>
        
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="team-member">
      
        <div class="team-avatar">
          <img class="team-member-img" src="http://images.parkinsonslifestyle.com/images/products/related/1433863633-83861600.jpg" alt="Jake">
        </div>
        
        <div class="team-member-title">
          <h4>Short (Jake)</h4>
          <p>Does not like pants</p>
        </div>
        
      </div>
    </div>

  </div>
  
  <div class="row">
    
    <div class="col-md-4">
      <div class="team-member">
      
        <div class="team-avatar">
          <img class="team-member-img" src="http://www.tobintaylor.com/images/Logo_Square.jpg" alt="?">
        </div>
        
        <div class="team-member-title">
          <h4>?</h4>
          <p>?</p>
        </div>
        
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="team-member">
      
        <div class="team-avatar">
          <img class="team-member-img" src="https://www.intellicred.com/wp-content/uploads/2012/11/Placeholder_female_superhero_c_r-140x140.png" alt="???">
        </div>
        
        <div class="team-member-title">
          <h4>?</h4>
          <p>?</p>
        </div>
        
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="team-member">
      
        <div class="team-avatar">
          <img class="team-member-img" src="https://www.intellicred.com/wp-content/uploads/2012/11/Placeholder_male_superhero_c_r-140x140.png" alt="???">
        </div>
        
        <div class="team-member-title">
          <h4>?</h4>
          <p>?</p>
        </div>
        
      </div>
    </div>
  
  </div>

</div>