<div class="wrapper container col-xs-9">

  <section>
    <h1><a href="#">Pick What Tickles Your Pickle</a></h1>
  </section>

  <section class="project">
    <ul class="project__list">

      <li class="row">
          <div class="col-xs-1">871</div>
          <div class="col-xs-1"><a href="#">Img</a></div>
          <div class="col-xs-8"><a href="#">Project 1 description description description</a></div>
          <div class="col-xs-2"><a href="#">4312</a></div>
      </li>

      <li class="row">
          <div class="col-xs-1">871</div>
          <div class="col-xs-1"><a href="#">Img</a></div>
          <div class="col-xs-8"><a href="#">Project 2 description description description</a></div>
          <div class="col-xs-2"><a href="#">4312</a></div>
      </li>

      <li class="row">
          <div class="col-xs-1">871</div>
          <div class="col-xs-1"><a href="#">Img</a></div>
          <div class="col-xs-8"><a href="#">Project 3 description description description</a></div>
          <div class="col-xs-2"><a href="#">4312</a></div>
      </li>

      <li class="row">
          <div class="col-xs-1">871</div>
          <div class="col-xs-1"><a href="#">Img</a></div>
          <div class="col-xs-8"><a href="#">Project 4 description description description</a></div>
          <div class="col-xs-2"><a href="#">4312</a></div>
      </li>

    </ul>
  </section>

</div>
