<div class="wrapper container col-xs-12">

  <section class="header">
    <h1><a href="#">Pick What Tickles Your Pickle</a></h1>
  </section>

  <section class="project-wrapper">
    <ul class="project__list">

      <li class="project__list-item row middle-xs">

        <div class="project__vote col-xs-1">
          <div class="project__vote-up">
            <a href=""><i class="icon-triangle-up"></i></a>
          </div>
          <div class="project__vote-count">871</div>
          <div class="project__vote-down">
            <a href=""><i class="icon-triangle-down"></i></a>
          </div>
        </div>

        <div class="project__image col-xs-1">
          <a href="#">
            <img src="https://s3.amazonaws.com/fundrise-content/images/april-fools-mars-offering/property.jpg" alt="image" height="60px" width="100%">
          </a>
        </div>

        <div class="col-xs-8 project__info">
          <h4><a class="project__info__title" href="#">To colonize Mars</a></h4>
          <p class="project__summary">President Obama has ordered a mission of epic proportions. Are you in or are you out?</p>
          <p class="project__owner"><a href="#">Obama</a></p>
        </div>

        <div class="col-xs-2 project__extras">
          <a href="#">4312 <i class="icon-chat"></i></a>
        </div>
      </li>

    </ul>
  </section>

</div>
