<% content_for :head do %>
  <%= javascript_include_tag 'static_pages/login' %>
<% end %>

<div class="row center-xs">
  <div class="col-xs-3">
      <form action="" class="signupForm">
        <h1>Log In</h1>
        <input type="email" class="email" placeholder="Email">
        <input type="password" class="password" placeholder="Password">
        <label><input type="checkbox" class="checkbox" value="agree"> Remember me</label>
        <button class="button__standard">Log in</button>
        <label>New to JoinForces?<a href=""> Create an account</a></label>
      </form>
  </div>
</div>
