<% content_for :head do %>
  <%= javascript_include_tag 'static_pages/signup' %>
<% end %>

<div class="row center-xs">
  <div class="col-xs-3">
      <form action="" class="signupForm" novalidate>
        <h1>Sign Up</h1>
        <div class="alert alert-danger error"></div>
        <input type="text" class="full_name" placeholder="Full Name">
        <input type="email" class="email" placeholder="Email">
        <input type="password" class="password" placeholder="Password">
        <button class="button__huge submit">Create account</button>
        <p class="terms">By signing up you agree to the terms of service and privacy policy.</p>
        <div class="form_footer">Have an account? <a href="">Log in</a></div>
      </form>
  </div>
</div>
