<h1>Basic Elements</h1>

<h2>Button States</h2>

<button class="button__standard">Button</button>
<button class="button__standard hover">Button</button>
<button class="button__standard active">Button</button>

<h2>Button Sizes</h2>

<p>Small</p>

<button class="button__small">Button</button>
<button class="button__small hover">Button</button>
<button class="button__small active">Button</button>

<br>
<p>Standard</p>

<button class="button__standard">Button</button>
<button class="button__standard hover">Button</button>
<button class="button__standard active">Button</button>

<br>
<p>Huge</p>

<button class="button__huge">Button</button>
<button class="button__huge hover">Button</button>
<button class="button__huge active">Button</button>

<h2>Button Variants</h2>

<p>Left Icon</p>

<button class="button__standard">✓ Button</button>
<button class="button__standard hover">✓ Button</button>
<button class="button__standard active">✓ Button</button>
<br>

<p>Right Icon</p>

<button class="button__standard"><span class="icon">✓</span>Button</button>
<button class="button__standard hover">Button<span class="icon">✓</span></button>
<button class="button__standard active">Button<span class="icon">✓</span></button>
<h2>Social Buttons</h2>

<h2>Dropdowns</h2>

<div class="dropdown">
  <ul class='dropdown__list'>
    <li class='dropdown__menu'>
      <a href="#" class='dropdown__label'>My Account</a>
      <ul class="dropdown__submenu">
        <li class="dropdown__menu-item"><a href="#" class='dropdown__menu-item-link'>My Projects</a></li>
        <li class="dropdown__menu-item"><a href="#" class='dropdown__menu-item-link'>My Settings</a></li>
        <li class="dropdown__menu-item"><a href="#" class='dropdown__menu-item-link'>Log Out</a></li>
      </ul>
    </li>
  </ul>
</div>

<h2>Inputs</h2>
<h2>Input Variants</h2>

<h2>Textarea</h2>

<h2>Tags</h2>

<h2>Labels</h2>

<h2>Checkboxes &amp; Radio-buttons</h2>

<h2>Navigation</h2>
<h2>Nav Lists</h2>
<h2>Top Menus</h2>
<h2>Bottom Menus</h2>

<h2>Progress bars &amp; Sliders</h2>

<h2>Tooltips</h2>

<h2>Iconic Lists</h2>

<h2>Alerts</h2>

<h2>Tables</h2>

<h2>Typography</h2>
