<h1>Basic Elements</h1>

<h2>Button States</h2>
<h2>Button Sizes</h2>
<h2>Button Variants</h2>
<h2>Social Buttons</h2>

<h2>Dropdowns</h2>

<h2>Inputs</h2>
<h2>Input Variants</h2>

<h2>Textarea</h2>

<h2>Tags</h2>

<h2>Labels</h2>

<h2>Checkboxes &amp; Radio-buttons</h2>

<h2>Navigation</h2>
<h2>Nav Lists</h2>
<h2>Top Menus</h2>
<h2>Bottom Menus</h2>

<h2>Progress bars &amp; Sliders</h2>

<h2>Tooltips</h2>

<h2>Iconic Lists</h2>

<h2>Alerts</h2>

<h2>Tables</h2>

<h2>Typography</h2>



