.ideas__listing {
  @include cf();
  width: 1200px;
  margin: 30px auto;
}
// @include edit();

.ideas__listing-item {
  @include column(1/3, 0, 3);
  background: white;
  border: 1px solid $clouds;
  margin-bottom: 30px;
  overflow: hidden;
}
.ideas__listing-like {

  .icon {
    text-align: center;
    transition: all .25s ease;
    position: relative;
    background: $clouds;
    border-radius: 50%;
    position: absolute;
    height: 45px;
    width: 45px;
    top: -30px;
    // left: calc(50% - 25px);
    left: 15px;

    svg {
      width: 30px;
      height: auto;
      margin: 7px 0;
    }

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }

  span {
    display: block;
    font-weight: 400;
    font-size: 12px;
    margin-top: -5px;
    position: relative;
    top: -1.5em;
    left: 55px;
    letter-spacing: .3px;
  }

}

.ideas__listing-image {
  border-radius: 2px 2px 0 0;
  width: 100%;
  padding-bottom: 75%;
  overflow: hidden;
  position: relative;


  img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.ideas__listing-details {
  padding: 15px;
  background: #FFF;
  z-index: 10;
  position: relative;

  .avatar {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 100%;
    font-size: 0;

    & > * {
      display: inline-block;
    }

    img {
      border-radius: 2px;
      display: block;
      opacity: .9;

      &:hover {
        opacity: 1;
      }
    }

  }

  .ideas__listing-title {
    font-size: 16px;
    letter-spacing: .5px;
    font-weight: 500;
    color: $black;
    display: inline-block;
    margin-bottom: 5px;
  }
  .ideas__listing-description {
    margin: 0;
    line-height: 1.4em;
    font-size: 13px;
    letter-spacing: .3px;
    color: lighten($asbestos, 10%);
    height: 5em;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;

    &:after {
      content: "";
      display: block;
      width: 100%;
      position: absolute;
      bottom: 0;
      height: 20px;
      background: linear-gradient(to top, transparentize(#FFF, .1), transparent)
    }
  }
}
.ideas__listing-owner {
  padding: 10px 15px;
  align-self: center;
  flex-basis: 160px;
  flex-shrink: 0;
  display: flex;
  align-items: center;

  .ideas__listing-comments {
    margin-left: 40px;
    a {
      color: $silver;
    }
    span {
      color: $silver;
      margin: 0 10px;
    }
  }
}

.ideas__status {
  .stat {
    @include span(1/3);
    text-align: left;
    position: relative;
    padding: 10px;
    overflow: hidden;
    border-top: 1px solid transparentize($asbestos, .9);

    &:not(:last-child) {
      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 1px;
        height: calc(100%);
        background: transparentize($asbestos, .7);
        top: 0px;
        left: calc(100% - 1px);
      }
    }

    .link {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 10;
    }
    .icon {
      font-size: 24px;
      color: transparentize($asbestos, .5);
      position: relative;
      display: inline-block;
      position: absolute;
      left: calc(100% - 30px);

      svg {
        width: 45px;
        height: auto;
        opacity: .8;
      }
    }
    .label {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 11px;
      letter-spacing: 1px;
      opacity: .5;
    }
    .value {
      font-size: 16px;
      color: black;
      text-align: left;
    }
  }
}

main.idea {
  @include cf();
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  background: $pale-blue;

  section.idea-details {
    @include column(5/7);
    border-left: 1px solid $medium-blue;
    padding: 30px 50px;
    background: $white;
  }
  aside {
    @include column(2/7);
    text-align: right;
    height: 100%;
    padding: 50px 0;
  }

  h3 {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1.5em;
  }

  h4 {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    margin: 5px 0;

    b {
      font-weight: 600;
      width: 100px;
      display: inline-block;
    }

    span {
      font-weight: normal;
    }
  }

  hr {
    @include cf();
    display: block;
    width: 100%;
    margin: 20px 0;
  }
}

.idea__detail-core-team {
  text-align: left;
  width: 50%;
  float: right;
  min-width: 225px;
}

.idea-details {
  h1 {
    margin-bottom: 15px;
  }
}

.idea-image {
  img {
    max-width: 100%;
  }
}


