.main-profile {
  @include center(1000px);
  //@include edit();
  @include cf();
  margin-top: 20px;

}

.main-profile-avatar {
  @include span(1/4);
}

.main-profile-summary {
  @include span(3/4);

  h3 {
    display: inline;
    margin: 0 0 20px;
  }

  p {
    color: $dark-gray;
    margin: 10px 0;
  }
}

.profile-social-icons {
  display: inline;
  margin-left: 10px;

  span {
    font-size: 1.5em;
    margin-left: 10px;
  }
}

.user-edit {
  float: right;
}

.user-recent-comments {
  @include col(1/2);
  border: 1px solid $gray;
  box-shadow: 1.5px 1.5px 1.5px $black;
  padding: 20px;

  h3 {
    margin: 0;
  }
}

.user-projects {
  @include col(1/2);
  border: 1px solid $gray;
  box-shadow: 1.5px 1.5px 1.5px $black;
  padding: 20px;

  h3 {
    margin: 0;
  }
}

.top {
  box-shadow: 1.5px 1.5px 1.5px $black;
}

.bottom {
  margin-bottom: 20px;
}


