.header {
  text-align: center;

  a {
    color: $blue;
  }
}

.project-wrapper {
  text-align: center;

  a {
    color: $blue;
  }

  ul {
    padding: 0;
  }

  li {
    border: 1px solid $gray;
    margin: 0;
  }

  img {
    padding-top: 3px;
  }
}

.project__vote {
  padding: 0;
}

.project__info {
  text-align: left;

  h4 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.project__summary {
  color: $black;
  font-size: 14px;
}

.project__owner {
  font-size: 12px;

  a {
    color: $gray;
  }
}
