* {
  box-sizing: border-box;
}

body {
  background: #FFF;
}
.global-container {
  width: 1024px;
  margin: 0 auto!important;
}

// Typographic Reset
@include typographic;

a {
  transition: all .2s;
  text-decoration: none;
  color: #444;

  &:hover {
    color: $blue;
  }
}
