.alert {
  color: $black;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 700px;
}

.alert-success {
  background: $white;
  border: 1px solid $emerald;
}

.alert-notice {
  background: $white;
  border: 1px solid $peter-river;
}

.alert-warning {
  background: $white;
  border: 1px solid $sunflower;
}

.alert-danger {
  background: $white;
  border: 1px solid $alizarin;
}

.close-alert {
  float: right;
  font-size: 1.2em;
  line-height: 15px;
}
