/* Styles for the about page go here */
body {
    margin:0;
    font-size: 1em;
    font-family: "Lato", "Montserrat", sans-serif;
}

.class {
    font-size: 145%;
}

$blue: #8489A7 ;
$header_height: 85px;
$header_background: $blue;

header {
    width: 100%;
    height: $header_height;
    background: $header_background;
}
