button, .button {
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    vertical-align: middle;
    font-weight: 600;
    padding: 0px 25px;
    letter-spacing: 2px;
    line-height: 3em;
    border-radius: 10em;
    color: #3c3d41;
    text-align: center;
    background: #EFEFEF;
    border-top-color: darken(#EEE, 10%);
    border-left-color: darken(#EEE, 10%);
    border-bottom-color: darken(#EEE, 20%);
    border-right-color: darken(#EEE, 20%);
    outline: none;
}


.button.coming-soon {
    background: #3c3d41;
    color: #FAFAFA;
}

input[type='submit'].upload {
    background-color: transparentize(#FFF, 1);
    background-image: image-url('upload.gif');
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    display: block;
    text-indent: -9999px;
    width: 125px;
    height: 40px;
}
