button {
  background: $blue;
  border: 1px solid $blue;
  border-radius: 8px;
  color: $white;
  font-weight: 400;
  margin-bottom: 0;
  position: relative;
  text-align: center;
  transition: all .2s linear;
}

button:hover,
button.hover {
  background: transparent;
  color: $blue;
}

button:active,
button.active {
  background: transparent;
  border-color: darken($blue, 15%);
  color: darken($blue, 15%);
}

.button__small {
  border-width: 2px;
  font-size: 12px;
  padding: 5px 10px;
}

.button__standard {
  font-size: 14px;
  padding: 6px 12px;
}

.button__huge {
  border-width: 3px;
  font-size: 18px;
  padding: 10px 16px;
}

button > .icon {
  display: block;
  float: right;
}
