
.signupForm {
  border: 2px solid $black;
  border-radius: 5px;
  padding:30px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  background: transparent;
  border: 1px solid $black;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;

  &:focus {
    border: 1px solid $dark-blue;
    outline: none;
  }
}
.submit {
  width: 100%;
}
.remember,
.forgot_password {
  margin-bottom: 10px;
  text-align: left;

  a {
    color: $blue;
  }
}

.terms {
  font-size: 12px;
}

.form_footer {
  border-top: 1px solid $gray;
  margin-top: 20px;
  padding-top: 20px;
  a {
    color: $blue;
  }
}

.idea_page {
  border: 2px solid $black;
  border-radius: 5px;
  padding: 30px;
  margin: 30px auto;
  min-width: 600px;
  text-align: center;

  p {
    font-weight:400;
    float: left;
  }

  a {
    clear: both;
    margin: 20px auto;
    display: inline-block;
    width: 150px;
    height: 40px;
    border: 2px solid $dark-blue;
    border-radius: 5px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    cursor: pointer;
    background: $dark-blue;
    color: $white;
    text-decoration: none;

    &:hover {
      background: transparent;
      color: $dark-blue;
    }

    &:active {
      border: 2px solid darken($dark-blue, 5%);
      color: darken($dark-blue, 10%);
    }
  }
}
