input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  border: 2px solid $gray;
  border-radius: 5px;
  color: $dark-gray;
  display:inline;
  font-size: 1em;
  padding: 8px 10px;
  outline: none;

  &:active, &:focus {
    border-color: $dark-gray;
  }

  &:disabled {
    background: lighten($gray, 20%);

    &:active {
        border-color: $gray;
    }
  }

  &.success {
    border-color: $green;
    color:$green;
  }

  &.error {
    border-color: $red;
    color:$red;
  }
}
